body {
    background-color: #8c7ae6;
}

h1, h3, p {
    color: #fff;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0 auto;
    width: 250px;
}

input {
    font-size: 13px;
}

button {
    width: 220px;
    height: 25px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 13px;
}

p {
    margin: 5px 0;
}


.upper-text {
    text-transform: uppercase;
}